:root {
    --Light-red: #ff5757;
    --Orange-yellow: #ffb01f;
    --Green-teal:#00bd91;
    --Cobalt-blue:#1125d4;

    --Light-slate-blue-background: 	#7857ff;
    --Light-royal-blue-background: 	#2e2be9;
    --Violet-blue-circle: #4e21ca;
    --Persian-blue-circle: #2421ca;

    --White: #ffffff;
    --Pale-blue: #ebf1ff;
    --Light-lavender:#c8c7ff;
    --Dark-grey-blue: #303b5a;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale-blue);
}
.container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
    width: 650px;
    background-color: var(--White);
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.result {
    width: 50%;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(
        to bottom, var(--Light-slate-blue-background),
        var(--Light-royal-blue-background)
    );
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.result .title {
    color: var(--Light-lavender);
    margin-bottom: 1rem;
}

.result .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(
        to bottom,
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
        
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle h1 {
    color: white;
    font-size: 4rem;
}

.circle p {
    color: var(--Light-lavender);
}

.result b {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.result .info {
    color: var(--Light-lavender);
    width: 200px;
}

.summary {
    width: 50%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary .title {
    color: black;
    font-weight: 800;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.row {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

.row:nth-child(1) {
    background-color: hsla(0, 100%, 67%, 0.2);
}

.row:nth-child(1) .badge b {
    color: var(--Light-red);
}

.row:nth-child(2) {
    background-color: hsla(39, 100%, 56%, 0.2);
}

.row:nth-child(2) .badge b {
    color: var(--Orange-yellow);
}

.row:nth-child(3) {
    background-color: hsla(166, 100%, 37%, 0.2);
}

.row:nth-child(3) .badge b {
    color: var(--Green-teal);
}

.row:nth-child(4) {
    background-color: hsla(234, 85%, 45%, 0.2);
}

.row:nth-child(4) .badge b {
    color: var(--Cobalt-blue);
}

.badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.row p {
    color: gray;
}

.row p b {
    color: var(--Dark-grey-blue);
}

.btn {
    margin-top: auto;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background: var(--Dark-grey-blue);
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.btn:hover {
    background: linear-gradient(
        to bottom,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
    );
}

@media screen and (max-width: 650px) {
    body {
      align-items: flex-start;
      background-color: white;
    }
    .container {
      box-shadow: none;
      width: 350px;
      margin: 10px;
      border-radius: 2px;

    }
    .card-container {
      flex-direction: column;
    }
    .result {
      border-radius: 0 0 1rem 1rem;
      width: 100%;
    }
    .result .info {
      width: 250px;
    }
    .summary {
      width: 100%;
    }
  }